$white: #fff;
$black: #000;
$dark-light: #333;
$dark: #131313;

$gray-light: #eee;
$gray-light-50: #ccc;
$gray-light-100: #bbb;
$gray-dark: #aaa;
$gray-strong-dark: #666;

$theme0: #060a0d;
$theme1: #ffcdd2;
$theme2: #ef9a9a;
$theme3: #e57373;
$theme4: #2a393c;
$theme4-1: #1d292b;
$theme5: #8acede;
$theme6: #9ca3a7;
$theme7: #587a85;
$theme8: #b71c1c;

$transparent: transparent;

$shadow-30: rgba(#000, 30%);
$shadow-50: rgba(#000, 50%);
$shadow-80: rgba(#000, 80%);

$shadow-white-30: rgba(#fff, 30%);
$shadow-white-50: rgba(#fff, 50%);
$shadow-white-80: rgba(#fff, 80%);
