@use './constants/colors';

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: colors.$gray-dark;

  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  color: colors.$gray-strong-dark;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: colors.$transparent;
  border: none;
  outline: none;
}
